<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
            text-align: center;
        }
        h1 {
            font-size: 5rem;
            color: #dc3545;
        }
        p {
            font-size: 1.25rem;
            color: #6c757d;
        }


        .btn-violet{
            margin-top: 50px;
            background-color: rgb(101, 28, 170) /* blueviolet with 50% opacity */;
            color: white;
            text-align: center;
            height: 35px;
            margin-left: 15px;
            padding-bottom:31px;
        }

        .btn-violet:hover{
            background-color: rgba(138, 43, 226, 0.7); /* blueviolet with 50% opacity */
            color: white;
        }
    </style>
</head>
<body>
    <h1>404</h1>
    <p>Oops! The page you're looking for doesn't exist.</p>
    <a href="/">
        <button type="button" class="btn btn-violet">Go To Home</button>
    </a>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
